/*
	Clemson Engineers for Developing Countries
	Website CSS
	Standard: CSS3
	Description:	This is the CSS pertaining to the entire site.
*/

/*	Organizational Styling	*/
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book'), local('Gotham-Book');
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold'), local('Gotham-Bold');
 font-weight: bold;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book Italic'), local('Gotham-BookItalic');
 font-weight: normal;
 font-style: italic;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold Italic'), local('Gotham-BoldItalic');
 font-weight: bold;
 font-style: italic;
 font-variant: normal;
}

/*	Header Styling	*/

#wrapper {
	min-height: 100%;
	position: relative;
	background-color: #fff;
	background: linear-gradient(90deg, rgb(204,204,204), rgb(255, 255, 255) , rgb(204,204,204));
	color: #000;
}

#header-bg {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	background-image: url('../img/header.png');
	background-repeat: repeat-x;
	height: 160px;
}

#header {
	position: relative;
	width: 960px;
	margin: 0 auto;
	color: #fff;
}

#header-motto{	/*	Styling of text next to logo	*/
	position: absolute;
	top: 120px;
	left: 200px;
	width: 760px;
	height: 40px;
	display: inline;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Gothamy, Gotham-Book, Arial, sans-serif;
}

#header-logo {	/*	Styling of logo	*/
	position: absolute;
	width: 224px;
	left: -12px;
}

#header-nav {
	position: absolute;
	margin-top: 20px;
	left: 200px;
	width: 760px;
	font-size: 16px;
	font-weight: bold;
	font-family: Gothamy, Gotham-Book, Arial, sans-serif;	
}

#header-nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#header-nav li {
	display:inline-block;
	padding: 0px;
	margin-left: 8px;
	height: 80px;
}

#header-nav a {
	display: table;
	position: relative;
	left: -10px;
	padding-left: 9px;
	height: 80px;
	text-decoration: none;
	color: #fff;
}

#header-nav p {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
}

#header-nav a:active {	/*	Link colors	*/
	color: #ff8300;
}

#header-nav a:visited {	/*	Link colors	*/
	color: #fff;
}

#header-nav li:hover {	/*	Link colors	*/
	background-image: url('../img/press_right.png');
	background-repeat: no-repeat;
	background-position: right top;
}

#header-nav li:hover > a {	/*	Link colors	*/
	color: #ff8300;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('../img/press_left.png');
}

/*	Body Styling	*/

html,
body {	/*	Remove the padding on the page	*/
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: Gothamy, Gotham-Book, Arial, sans-serif;
}

#content-wrapper {
	padding-top: 200px;
	padding-bottom: 240px;
	width: 960px;
	margin: 0 auto;
}

#content-body {
	padding: 20px;
}

/*	Footer Styling	*/

#footer-bg {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background-image: url('../img/footer.png');
	background-repeat: repeat-x;
	height: 240px;
}

#footer {	/*	General footer styling	*/
	position: relative;
	width: 960px;
	margin: 0 auto;
	height: 240px;
}

#footer-content {
	padding: 20px 25px 20px 25px;
	color: #fff;
	text-align: center;
	font-family: Gothamy, Gotham-Book, Arial, sans-serif;
}

#footer-social {
	text-align: right;
   text-decoration: none;
}

.footer-social-button {
   display: inline-block;
   height: 64px;
   width: 64px;
   overflow: hidden;
}

.footer-social-button img {
   border: 0;
}

.footer-social-button img:hover {
   margin-left: -64px;
}

#footer-nav {
	position: relative;
	top: 10px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

#footer-copy {
	position: absolute;
	height: 10px;
	margin-bottom: 16px;
	bottom: 16px;
	width: 912px;
	text-align: right;
	font-size: 10px;
	line-height: 10px;
}

#footer-nav ul {	/*	Make those pesky dots not show up	*/
	list-style: none;
}

#footer-nav li {
	display: inline;
	margin: 0px;
}

#footer-nav a {	/*	Link colors	*/
	text-decoration: none;
	margin-left: 7px;
	margin-right: 7px;
	color: #fff;
}

#footer-nav a:active{	/*	Link colors	*/
	color: #393939;
}

#footer-nav a:visited{	/*	Link colors	*/
	color: #fff;
}

#footer-nav a:hover{	/*	Link colors	*/
	color: #393939;		
}

/*	General Styling	*/
ul{
	list-style-position: inside;
	list-style-type: circle;
}