body{
	padding: 0px;
}

#header{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #EA6A20;
	padding: 25px 0px 25px 0px;
	color: #fff;
	background: linear-gradient(90deg, rgb(187, 85, 26), rgb(234, 106, 32) , rgb(187, 85, 26) );
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 15px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	max-height: 248px;
}

.header-text{
	display: inline-block;	
}

#header img{
	margin: 0px 30px 0px 30px;
}

#header-collapse{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #EA6A20;
	background: linear-gradient(90deg, rgb(187, 85, 26), rgb(234, 106, 32) , rgb(187, 85, 26) );
	display: none;
	padding: 10px 0px 10px 0px;
	max-height: 50px;
	z-index: 100;
}

#nav{
	background-color: #474747; /*#43484D*/
	background: linear-gradient(90deg, #393939, #474747, #393939);
	padding: 10px 0px 10px 0px;
	color: #ffffff;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	position: absolute;
	top: 231px;
	font-family: "proxima-nova",Arial!important;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	height: 39px;
	z-index: 10;
	width: 100%;
	margin-top: 0px;
}

#nav a{
	text-decoration: none;
	margin-left: 7px;
	margin-right: 7px;
	color: #222;
	text-shadow: 0px 2px 3px #555;
}

#nav a:active{
	color: #ffffff;
}

#nav a:visited{
	color: #222;
}

#nav a:hover{
	color: #ffffff;		
}


.content{
	position: relative;
	top: 231px;
	min-height: 1000px;
	padding: 100px 0px 1500px 0px;
	background-color: #fff;
	background: linear-gradient(90deg, rgb(204,204,204), rgb(255, 255, 255) , rgb(204,204,204));
	z-index: 0;
	color: #000;
}






