/*
	Clemson Engineers for Developing Countries
	Gallery page CSS
	Standard: CSS3
	Description:	This is the CSS pertaining to only the Gallery page.
*/

#header,
#header-collapse,
#footer{	/*	Change the background of the header and footer to the page color	*/
    background-color: rgb(86,97,39);
    background: linear-gradient(90deg, rgb(69,78,31), rgb(86,97,39) , rgb(69,78,31) );
}

#gallery{	/*	Make the page text in the navbar light up	*/
    color: #fff;
}