/*
	Clemson Engineers for Developing Countries
	Intern page CSS
	Standard: CSS3
	Description:	This is the CSS pertaining to only the Interns page.
*/

#header,
#header-collapse,
#footer{	/*	Change the background of the header and footer to the page color	*/
    background-color: rgb(181,195,39);
    background: linear-gradient(90deg, rgb(145,156,31), rgb(181,195,39) , rgb(145,156,31) );
}

#intern{	/*	Make the page text in the navbar light up	*/
    color: #fff;
}