/*
	Clemson Engineers for Developing Countries
	Website CSS
	Standard: CSS3
	Description:	This is the CSS pertaining to the entire site.
*/

/*	Header Styling	*/

#wrapper {
	min-height: 100%;
	position: relative;
	background-color: #FFFFFF;
	color: #000;
}

#header-bg {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	background-color: #FFFFFF;
	height: 160px;
}

#header {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

#header-motto {
	position: absolute;
	top: 64px;
	left: 340px;
	text-align: left;
	font-size: 16px;
	font-family: "Century Gothic", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", arial, sans-serif;
}

#header-logo {
	position: absolute;
   text-decoration: none;
	top: 14px;
	left: 0px;
}

#header-logo img {
   border: 0;
}

#header-nav-bg {
   position: absolute;
	width: 100%;
	top: 128px;
	left: 0px;
	text-align: center;
	height: 32px;
   background-color: #3A4958;
}

#header-nav {
	height: 32px;
	display: inline;
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
}

#header-nav ul {
   display: table;
   width: 960px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

#header-nav li {
   vertical-align: top;
	display: table-cell;
	padding: 0 20px;
}

#header-nav a {
	text-decoration: none;
   color: #86898C;
}

.header-nav-pointer {
   position: relative;
   margin: 0 auto;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #EA6A20;
   z-index: 2;
}

#header-nav img {
	text-align: center;
   font-weight: normal;
   position: relative;
   width: 960px;
   margin: 0 auto;
}

.header-nav-img {
   position: absolute;
   visibility: hidden;
   overflow: hidden;
   min-width: 960px;
   width: 100%;
   height: 120px;
   left: 0px;
   z-index: 1;
}

#header-nav a:hover ~ .header-nav-img {
   visibility: visible;
}

#header-nav a:active {
	color: #FFFFFF;
}

#header-nav a:visited {
	color: #86898C;
}

#header-nav a:hover {
	color: #FFFFFF;
}

#header-nav a:hover ~ .header-nav-pointer {
   top: 8px;
}

#header-nav-sep {
   position: absolute;
	width: 100%;
	top: 32px;
	left: 0px;
	height: 8px;
   background-color: #EA6A20;
}

/*	Body Styling	*/

html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#content-wrapper {
	padding-top: 280px;
	padding-bottom: 180px;
	width: 960px;
	margin: 0 auto;
}

#content-body {
	padding: 20px;
   font-size: 14px;
   font-weight: normal;
   line-height: 200%;
   color: #222222;
   font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Trebuchet MS", Tahoma, sans-serif;
}

#content-body h1 {
	font-size: 24px;
   font-weight: normal;
   color: #EA6A20;
	font-family: "Century Gothic", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#content-body h2 {
	font-size: 21px;
   font-weight: normal;
   color: #222222;
	font-family: "Century Gothic", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#content-body h3 {
	font-size: 18px;
   font-weight: normal;
   color: #222222;
	font-family: "Century Gothic", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.line-separator {
   height: 1px;
   background-color: #86898C;
}

.body-container {
   width: 640px;
}

.side-nav {
	position: relative;
	top: 36px;
	float: right;
	list-style: none;
   line-height: 24px;
   padding: 0;
}

.side-nav-selector {
   float: right;
   margin-top: 4px;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #EA6A20;
}

.side-nav li {
	margin: 8px 0;
	font-size: 16px;
   font-weight: normal;
   text-align: right;
   color: #222222;
	font-family: "Century Gothic", "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.side-nav a {
	text-decoration: none;
	color: #222222;
   margin-right: 16px;
}

.side-nav a:active {
	color: #222222;
}

.side-nav a:visited {
	color: #222222;
}

.side-nav a:hover {
	color: #222222;
   text-decoration:underline; 
}

/*	Footer Styling	*/

#footer-bg {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background-color: #3A4958;
	background-repeat: repeat-x;
	height: 180px;
}

#footer {
	position: relative;
	width: 960px;
	margin: 0 auto;
	height: 180px;
}

#footer-content {
	padding: 16px;
	color: #86898C;
	font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
}

#footer-social {
	text-align: left;
   text-decoration: none;
}

#footer-social-tools-wrap:hover > #footer-social-tools {
   background-position: -56px 0px;
}

#footer-social-tools-wrap:hover > p {
   color: #FFFFFF;
}

#footer-social-tools {
   float: left;
   display: inline-block;
   height: 56px;
   width: 56px;
   overflow: hidden;
   margin-right: 8px;
   background-image: url('../img/cedctools.png')
}

#footer-social p {
   float: left;
   display: table-cell;
   height: 56px;
   color: #86898C;
}

.footer-social-button {
   float: right;
   display: inline-block;
   height: 56px;
   width: 56px;
   overflow: hidden;
   margin-left: 8px;
}

#footer-social img:hover {
   margin-left: -56px;
}

#footer-social img {
   border: 0;
}

#footer-nav {
	position: absolute;
	top: 98px;
	width: 928px;
   padding: 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#footer-nav ul {
	list-style: none;
   margin: 0;
   padding: 0;
}

#footer-nav li {
	display: inline;
	margin: 0px;
}

#footer-nav a {
	text-decoration: none;
	margin: 0 5px;
	color: #86898C;
}

#footer-nav a:active {
	color: #FFFFFF;
}

#footer-nav a:visited {
	color: #86898C;
}

#footer-nav a:hover {
	color: #FFFFFF;		
}

#footer-copy {
	position: absolute;
	height: 10px;
	margin-bottom: 16px;
	bottom: 16px;
	width: 928px;
	text-align: right;
	font-size: 10px;
	line-height: 10px;
}